#scrollmenu {
    background-color: #000;
    overflow: auto;
    white-space: nowrap;
    cursor: pointer;
}
#scrollmenu ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
}
#scrollmenu li{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
}
.active,
.btn:hover {
  background-color: green;
  color: white;
  border-radius: 8px;
  text-decoration: underline;
}
h1{
  text-align: center;
  font-weight: bold;
  font-family: cursive;
  color: brown;
}
